*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(0, 0,33);
    color: white;
    font-family: "Montserrat", sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(6, 6, 62);
}
h3{
    font-size: small;
}
nav ul{
    display: flex;
    justify-content: center;
     
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
footer nav{
    padding: auto;
    height: 35px;
}
main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}
.left{
    font-size: 2.3rem;
    font-family: 'Dancing Script' ,cursive;
}
.right{
    font-family: "Montserrat", sans-serif;
}
.buttons{
    padding: 20px 0;
}
.firstsection{
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    align-items: center;
}
.firstsection> div{
    width: 30%;
}
.leftsection{
    font-family: "Montserrat", sans-serif;
font-size: 2rem;
word-spacing: 6px;
font-weight: 550;
}
.leftsection .btn{
    font-family: "Montserrat", sans-serif;
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
   
    background-color: #635fb8;
}

.purple{
    color: blueviolet;
}
nav ul li a{
    text-decoration: none;
    color: white;
} 
nav ul li a:hover{
    color: rgb(153, 153, 226);
    font-size: 1.02rem;
}
#element{
    color: blueviolet;
}
.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 120vh;
}
.skills{
    padding: 20px;
}
.foot{
    text-align: center;
}
footer nav{
    padding: 20px;
    
}
.goot{
    padding: 6px;
}

.edu{
    text-align: center;
    margin-left: 150px;

}
.quali{
    font-family: "Montserrat", sans-serif ;
    margin-top: 50px;
    margin-left: 40%;
}
table{
    font-family:  "Montserrat", sans-serif;
    font-weight: 600;
    border-spacing: 40px;
}
.thirdsection{

    max-width: 80vw;
    margin: auto;
    height: 70vh;
}
.aboutimg{
    width:250px;
    border-radius: 50%;
}
.para{
    font-family:"Montserrat", sans-serif ;
    word-spacing: 7px;
    font-weight: 500;
}